<md-toolbar class="md-accent" id="headtag">
  <div class="fixed-header" flex layout="row">
      <div layout="row" flex layout-align="center center">
        <md-button class="menu" ng-click="toggleSidenav();"><i class="material-icons">menu</i></md-button>
        <img src="assets\img\asd.png" alt="shoplogo" width="80px">
        <h2 class="md-toolbar-tools"><span >Online Shopping</span></h2>
      </div>
      <div layout="column" ng-style="{'background-image': 'url(../assets/img/add.png)'}">

     <md-button ng-click=logout()>Logout</md-button>
     <p class="cartback" ui-sref="home.cartpage" >{{NoOfCartElements}}</p>
  
     <!-- <md-icon md-font-library="material-icons">add shopping cart</md-icon> -->

     </div>
  </div>
</md-toolbar>
