<md-toolbar class="md-tall md-accent" id="headtag">
  <div class="fixed-header" flex layout="row">
      <div layout="row" flex layout-align="center center">
        <md-button class="menu" ng-click="toggleSidenav();"><i class="material-icons">menu</i></md-button>
        <img src="assets\img\asd.png" alt="shoplogo" width="80px">
        <h2 class="md-toolbar-tools"><span >Online Shopping</span></h2>
        <md-button ng-click=logout()>Logout</md-button>
      </div>
      <div layout="column" >

     {{NoOfCartElements}} <img src="assets\img\shop1.png" alt="shoplogo" width="40px">
      </div>
  </div>
</md-toolbar>
