<md-content>
  <md-toolbar class="md-tall md-accent" id="headtag">
    <div class="main" flex layout="row">


      <div layout="row" class="part1" flex layout-align="center center">
        <img src="assets\img\asd.png" alt="shoplogo" width="80px">
        <h2 class="md-toolbar-tools">
    <span >Online Shopping</span>
  </h2>
      </div>
      <div class="logoutbtn">
        <md-button ng-click=logout()>Logout</md-button>
      </div>


    </div>

  </md-toolbar>

  <md-card-avatar>
    <img id='banner1' src="assets\img\ban2.jpg">
  </md-card-avatar>
  <!-- <md-sidenav md-component-id="left" class="md-sidenav-left">
      Left Nav!
    </md-sidenav> -->
  <div layout="row">
    <div class="sideNav"  layout-padding layout="column" >
        <legend>Mobile Phone Operating System</legend>

          <div layout="column" ng-repeat="item in driversList">
            <md-checkbox aria-label="mobile_name" ng-model="item.checked"  ng-change="check(item)"   >
              {{ item.name}} <br>
            </md-checkbox>
          </div>
          <legend>Device Features</legend>

            <div layout="column" ng-repeat="items in driversFeatures">
              <md-checkbox aria-label="mobile_name" ng-model="items.checked"  ng-change="checks(items)"   >
                {{ items.name}} <br>
              </md-checkbox>
            </div>
    </div>
    <div class="" layout-padding layout="row">
      <mat-list flex="80" layout-padding ng-repeat="list in mobileLists |filter:itemType | filter:itemsType">
        <mat-list-item>
      <a href="#!view/{{list.Id}}"> <img matLine ng-src="{{ list.img }}" alt="{{list.title}}" /></a>
          <p matLine> {{ list.title}} </p>
          <p matLine> Price:{{ list.price}}</p>
          <ul matLine ng-repeat="fet in list.features">Features:
             <li >
            {{fet.sim}}</li>
           <li >{{fet.camera}}</li>
           <li >{{fet.scren}}</li>
           <li >{{fet.music}}</li>




        </ul>

        </mat-list-item>
      </mat-list>


    </div>
  </div>
  </div>

</md-content>
