<div class="md-padding demo" id="loginContainer">
    <md-subheader id="formHead">Login</md-subheader>
      <md-content id="formContent">
              <div layout="column" layout-align="space-between center">
                  <md-input-container flex="10">
                    <label>E-mail</label>
                    <input required name="email" ng-model="user.email" type="email">
                    <div ng-messages="email.$error">
                    <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="10">
                    <label>Password</label>
                    <input required name="Password" ng-model="user.password" type="password">
                    <div ng-messages="Password.$error">
                    <div ng-message="required" class="my-message">Please enter your password.</div>
                    </div>
                  </md-input-container>
                <div layout="row">
                  <md-button type="submit" id="subbtn" ng-click=submit()>Sign-In</md-button>
                  <md-button ui-sref="register" id="subbtn" >Sign-Up</md-button>
                </div>
                <div>
                  <p id='result'></p> <!-- showing result user login or not successfully-->
                </div>
          </div>
    </md-content>
</div>
