<div class="md-padding demo" id="loginContainer">
    <md-subheader id="formHead">Login</md-subheader>
    <form name="SaveForm" ng-submit="submit()">
      <md-content id="formContent">
              <div layout="column" layout-align="space-between center">
                <md-input-container flex="10">
                  <label>E-mail</label>
                  <input required  name="Email" type="email" ng-model="user.email" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/">
                  <div ng-messages="Email.$error">
                    <div ng-message="required">Please Enter Valid  Email.!  </div>
                  </div>
                </md-input-container>
                <md-input-container flex="10">
                  <label>Password</label>
                  <input required name="Password" ng-model="user.password" type ="password"  ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" >
                  <div ng-messages="Password.$dirty && Password.$invalid">
                    <div ng-message="required">Wrong password.
                    </div>
                  </div>
                </md-input-container>
                <div layout="row">
                  <md-button type="submit" value="submit" id="subbtn">Sign-In</md-button>
                  <md-button ui-sref="register" id="subbtn" >Sign-Up</md-button>
                </div>                
          </div>
    </md-content>
  </form>
</div>
