<div  class="md-padding demo" id="loginContainer">
    <md-subheader id="formHead">Register Form</md-subheader>
    <md-content id="formContent">
      <div layout="column" layout-align="space-between center">
          <md-input-container flex="10" >
            <label>Name</label>
            <input required name="clientName" ng-model="user.name" >
            <div ng-messages="clientName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex="10">
            <label>E-mail</label>
            <input required name="Email" type="email" ng-model="user.email">
            <div ng-messages="Email.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex="10">
            <label>Password</label>
            <input required name="Password"  type="password" ng-model="user.password">
            <div ng-messages="Password.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-button type="submit" ng-click="save()" id="subbtn">Submit</md-button>

        </div>
    </md-content>
  </div>
