#headtag{
height:100px;
  background-color: #062599;

}

.fixed-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color:#062599;
  height: auto;
}

.md-card-image{
align:center;
padding: 15px;
  border: 1px solid #e8e6ef;
}

#mobileCard{

  color: #0000000;
  background-color: #ece9f842;
  border-radius: 2px;
  text-align: left;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  }

.title{
  color: #062599;
  font-style: solid;
  font-size: 18px;
  text-decoration::none;
  }

a:link {
  text-decoration: none;
}

a:hover {
  color: #f1620f;
  cursor: pointer;
}

.checkboxOpt {
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
}

#sideNav {
  background-color: #f7f6f8;
}

.checkboxItem {
  font-size: 12px;
  padding: 8px;
  font-weight: bold;
}

.md-sidenav-left {
  border-right: 1px solid #c1c1c1;
  width: 250px;
}
#mobileCard .cartaddBtn{
  background-color: #ee9c35;
  color:#fff;
  border-radius:8px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}
.rupee{
  color: #b12704;
  font-weight: bold;
}
.cartback{
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  border-bottom: 5px solid #b12704;
  width: 60px;
  border-left: 5px solid #ee9c35;
  border-right: 5px solid #ee9c35;
  height: 30px;
  border-radius: 8px;
  text-align: center;
  /*background-color: red;*/
  /*background-image: url("../assets/img/add.png");
  'background-size' : 'cover';*/
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}

.prt2{
  background-color: red;
}
