body {
  background: linear-gradient(to right, #3b4875, #a6929b, #cbb9ab);
height: 100%;
}
#md-padding{
width: 30%;
  margin: 0 auto;


}

#reghead{
    color: rgb(245, 245, 245);
    background-color: rgb(62, 74, 118);
  text-align: center;
font-size: 20px;
border-top-right-radius: 25px;
}



#md-padding1{
width: auto;
color: white;
background-color:#fff;
}


#md-paddingl{

  color:white;

}
#mdcontent{

 border-bottom-left-radius: 25px;
}


#subbtn{

background-color:  #3e4a76;
color:white

}





#banner1{

  width: 100%;
}


/*
.reg_div {
  background-color: #2d3039;
  margin: 0 auto;
  margin-top: 50px;
  width: 30%;
  height: auto;
  color: #fff;
  text-align: center;
}

.text {
  text-align: left;
  padding-left: 50px;
}

.regbtn {
  background-color: #bd5f84;
  padding: 10px;
  border-style: none;
  border-radius: 3px;
  color: #fff;
}

.input {
  margin: 0 auto;
  padding: 10px;
  width: 70%;
}*/
